Makefile.in
/aclocal.m4
/autom4te.cache
/conf/depcomp
/config.h.in
/config.h.in~
/configure

/../../../../../../../home/rigoni/devel/rfx/rfx-services/downloads'
'/../../../../../../../home/rigoni/devel/rfx/rfx-services
