[Unit]
Description=docker rfx-service: $(SERVICE)
After=docker.service docker.socket systemd-networkd-wait-online.service
Requires=network.target
PartOf=network.target

[Service]
Type=oneshot
ExecStart=$(datadir)/rfx-services/docker_utils.sh -v -c $(SERVICE_DIR)/$(SERVICE_CONFIG_FILE) start
ExecStop=$(datadir)/rfx-services/docker_utils.sh -v -c $(SERVICE_DIR)/$(SERVICE_CONFIG_FILE) stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

